.btn {
  border-radius: 2px solid rgb(159, 159, 243);
  background-color: antiquewhite;
  border-radius: 30px;
  position: relative;
  margin-top: 25rem;
  font-size: large;
  padding: 15px;
  font-family: "Times New Roman", Times, serif;
}

.btn2 {
  position: relative;
  margin-top: 6rem;
  /* margin-right: 2rem; */
  height: 5rem;
  appearance: none;
  background-color: #a9dded;
  border-radius: 40em;
  border-style: black;
  box-shadow: #adcfff 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -0.24px;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn2:hover {
  background-color: #ffc229;
  box-shadow: #ff6314 0 -6px 8px inset;
  transform: scale(1.125);
}

.btn2:active {
  transform: scale(1.025);
}
