.container{
    justify-content: center;
    align-items: center;
    width: 80%;
    margin:  0 auto;
}

.content{
    width: 50%;
    font: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    word-spacing: 1.5px;
    margin: auto;
}